@{
    ViewBag.Title = "Email Confirmation Sent";
}

    <h2>@ViewBag.Title</h2>

    <!DOCTYPE html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>

<body>
    <h3>Click on the link in the email to finish registering</h3>
    <h3>Allow up to 5 minutes to receive your confirmation email</h3>
    <h4>Close this page!</h4>
</body>

@*

    @{
        ViewBag.Title = "Email Confirmation Sent";
    }

    <div id="Dak-Standard">
        <h2>@ViewBag.Title</h2>
        <h3>Click on the link in the email to finish registering</h3>
        <h3>Allow up to 5 minutes to receive your confirmation email</h3>
        <h4>Close this page!</h4>



        <!DOCTYPE html>

        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title></title>
        </head>
        <body id="Kitty">
            <div>
            </div>
        </body>
    </html>
    </div>*@