@{
    ViewBag.Title = "About";
}

    <h1 style="font-size: 5em;font-family:Impact;text-decoration:underline">About the Club <span class="glyphicon glyphicon-pencil"></span></h1>

<div id="lightBackground">

    <h3 style="font-family:Georgia">Travis Bretoi will be the club president for the Fall 2016/2017 academic year.</h3>

    <h3 style="font-family: Georgia">
        The team plays in both the Fall and Spring semesters, but most
        tournments take place in the Fall.
    </h3>

    <h3 style="font-family: Georgia">
        Until it gets too cold, practice usually takes place formally twice a week,
        but we also meet up occasionally whenever a few people have time for it.
    </h3>

    <h3>The club is open to all students on campus, as well as open to the community of River Falls!</h3>

    <h3>Played in highschool? <b><i><em>JOIN!</em></i></b> Middleschool? <b><i><em>JOIN!</em></i></b> First time? <b><i><em>JOIN!</em></i></b></h3>

    <h3>We're completely open to recommendations as to whether practices are casual or more serious</h3>

    <h3>New to the team? Old to the team? Create an acocunt and leave a Note on the Board!</h3>

</div>

    <div class="row">
        <div class="col-md-4">
            <img src="~/team.jpg" alt="Team Picture" style="width:100%;height:100%;"/>
        </div>
        <div class="col-md-4">
            <img src="~/team2.jpg" alt="Team Picture2" style="width:100%;height:100%;margin-top:50px"/>
        </div>
        <div class="col-md-4">
            <img src="~/team3.jpg" alt="Team Picture3" style="width:100%;height:100%;margin-top:40px" />
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <a href="https://orgsync.com/login/university-of-wisconsin-river-falls" target="_blank"><img src="~/fsync.png" style="background-color:red;height:80%;width:80%;margin-top:50px" /></a>
            <p>Join the club officially on Falconsync!</p>
        </div>

        <div class="col-md-6">
            <a href="http://www.tennisoncampus.com/collegeclubtennisteams.htm" target="_blank"><img src="~/toC.jpg" style="margin-top:20px"/></a>
            <p>We are associated with USTA on Campus!</p>
        </div>

    </div>

<div style="background:rgba(15, 48, 249, 0.23)">
    <div class="col-md-12" style="background-color:inherit;">
        <div id="circle"></div>
    </div>
    <div class="col-md-12"style="background-color:inherit; text-align:center;">
        <h1 style="color:blanchedalmond;">About Dakota</h1>
        <h2 style="color:gold">I graduated from the University of Wisconsin - River Falls
        in the Spring of 2016, and just recently accepted a position as an
        Associate Software Developer with Magenic Technologies in Saint Louis Park, MN.
        My free time is currently consumed by tennis, and more tennis.</h2>
    </div>
</div>