@{
    ViewBag.Title = "Contact";
}



    <h1 style="color:red;font-size: 5em;font-family:Impact;text-decoration:underline">Get in Contact  <span class="glyphicon glyphicon-envelope"></span></h1>

<div id="lightBackground" style="text-align:center;">

    <h2 style="word-wrap:break-word">President - Travis - travis.bretoi@my.uwrf.edu</h2>
    <h3 style="word-wrap:break-word">Treasurer - Anthony - anthony.moua@my.uwrf.edu</h3>
    <h4>Club Advisor - Ryan Rudesill - ryan.rudesill@uwrf.edu</h4>
    <h4>Dakota's Email: dakota.castleberg18@gmail.com</h4>

</div>